DATABASE_URL=
JWT_SECRET=
CLIENT_URL=https://your-client-domain.example.com
ADMIN_EMAILS=admin@example.com

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

SMTP_USER=
SMTP_PASS=
SENDER_EMAIL=

PORT=5000
